<div class="homepage row">
<div class="col-md-8">
  <div class='form-upload'>
    <%= render 'history' %>
  </div>

  <div class="posts">
    <% @posts.each do |post| %>
      <%= render partial: 'post', locals: { post: post } %>
    <% end %>
  </div>
  </div>
  <div class="col-md-4">
    <div class='form-upload'>
      
    <b>Asri Nurul</b>
    </div>
    <b> Saran Untuk Anda</b>
    <footer class="container footer">
      <nav class="navbar d-flex">
        <ul>
          <li>Tentang.</li>
          <li>Bantuan.</li>
          <li>Pers.</li>
          <li>API.</li>
          <li>Pekerjaan.</li>
          <li>Privasi.</li>
          <li>Ketentuan.</li>
          <li>Lokasi.</li>
          <li>Akun.</li>
          <li>Teratas.</li>
          <li>Tagar.</li>
          <li>Bahasa.</li>
          <li>Indonesia.</li>
        </ul>

        <p> © 2021 INSTAGRAM FROM FACEBOOK </p>
      </nav>
    </footer>
  </div>
</div>